.login-container{
	mat-card{
		background-color: #ededed;
	}
	strong{font-weight: 500;}
	.login-card{
		width:30%;
		text-align:left;
		mat-form-field {
			width: 100%;
			font-size: medium;
			//margin-top: 10px;
		}
		mat-card-actions{
			button{
				//float: left;
				margin-left: 2%;
				margin-bottom: 5%;
			}
			a.f-pwd{
				margin-left: 2%;
				text-decoration: none;
				color: rgb(80, 78, 78);
			}
			// a:hover{
				// color: red;
			// }
	}
	}
	mat-card-title{ 
		mat-error{
			font-size: medium
		}
	}
	.signup{cursor: pointer;}
	.signup:hover{color: #3f51b5;}
}
