<div class="login-container">
	<mat-grid-list cols="1" rowHeight="2:1" >
		<mat-grid-tile   colspan='1' >
			<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" class='login-card' >
				<mat-card >
					<mat-card-title>
						<mat-error>{{ errors }}</mat-error>
					</mat-card-title> 
					<mat-card-content>
						<mat-card-title>
							<mat-form-field >
								<input matInput placeholder="Username" formControlName="username">
								<mat-error *ngIf="loginForm.controls['username'].hasError('required')">
								Username is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</mat-card-title>   

						<mat-card-title>
							<mat-form-field >
								<input matInput [type]="hide ? 'password' : 'text'"  placeholder="Password" formControlName="password">
								<button type='button' mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      								<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
   								</button>
								<mat-error *ngIf="loginForm.controls['password'].hasError('required')">
								password is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</mat-card-title>
						
						
					</mat-card-content>
					<mat-card-actions>
						<button mat-raised-button color="primary" type="submit">Login</button>
						<a  class='f-pwd' routerLink="/forgot-password">Forgot Password?</a>
						<div>
							<span class="notregistered">Not registered yet? </span> <a class="signup" routerLink="/signup"><strong>Create an Account</strong></a>
						</div>
					</mat-card-actions>
				</mat-card>
			</form>
		</mat-grid-tile>
	</mat-grid-list>
</div>