.production-container{
	margin: 20px;
	.full-width-table {
	width: 100%;
	}
	.mat-checkbox,.mat-checkbox-inner-container {
		height: 22px !important;
	}
	.bomHeader{
		.projectFilter{
			.mat-form-field{width: 80%;}
		}
		.downloadButton{
			.create{
				background-color:#282828 ;
				color: whitesmoke;
				border-radius: 6px;
				font-size: small;
				margin: 0 5px;
				.mat-icon{
					font-size: large;
					padding: 4%;
				}
				img{height: 20px;width: 20px;}
				a{
					color: whitesmoke;
					text-decoration: none;
				}
			}
		}
	}
	
	// .mat-column-section {
	// 	// width: 32px;
	// 	border-right: 1px solid currentColor;
	// 	padding-right: 24px;
	// 	text-align: center;
	// }
	// .mat-column-f-select {
	// 	// width: 32px;
	// 	border-right: 1px solid currentColor;
	// 	padding-right: 24px;
	// 	text-align: center;
	//   }
	.table-container{
		overflow: auto;
		max-height: 700px;
		.mat-column-c-select , .mat-column-section ,.mat-column-f-select ,.mat-column-pkg{
			// width: 32px;
			border-right: 1px solid currentColor;
			padding-right: 10px;
			padding-left:10px ;
			text-align: center;
			font-size: small;
		}
		.mat-column-Production-Entry,.mat-column-Cutting,.mat-column-Fabrication,.mat-column-Galvanizing{
			text-align: center;
			font-weight: bold;
			font-size: medium;

		}

		.mat-column-section{
			width: 150px !important;
		}
		
	}
	

}
.greenTSnackbar{background-color: #3f51b5!important;color:#fff!important;}
.redBOMSnackbar{background-color: red!important;color:#fff!important;}




