.full-width-table {
  width: 100%;
}
.purchaform{
  margin: 2%;
  //position: absolute;
  text-align: center;
}
.head{padding: 10px 10px 0;
	margin: 0 !important;}
  .heading{display: flex;}
  .filter-btn{margin-left: auto;margin-bottom: 5px;button{margin-left:10px ;}}