.packForm{
    margin: 20px;
    font-size: small;
	.mat-form-field{width: 100%;font-size:small;}
    .mat-elevation-z8 {
        box-shadow:unset;
    }
	table{
        width: 100%;
        // border:1px solid;
        margin-bottom: 2%;
        
    }
}