<div class="grid-container" *ngIf="viewPermission; else noPermission ">
	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
	<div class="heading"><h2 class="head">Permissions</h2>
		<div class='filter-btn'>
		<mat-form-field fxFlex="40%">
			<input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
		</mat-form-field>
		<a routerLink="/organization/permission/add" *ngIf='addPermission'>
			<button mat-raised-button color="primary">Add New Permission</button>
		</a>
	</div>
	</div>

	<div class="mat-elevation-z8">
		<table mat-table class="full-width-table" matSort aria-label="Elements">
			

			<!-- ID Column -->
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
				<td mat-cell *matCellDef="let row">{{row.id}}</td>
			</ng-container>

			<!-- content_type Column -->
			<ng-container matColumnDef="content_type">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Content Type</th>
				<td mat-cell *matCellDef="let row">{{row.content_type}}</td>
			</ng-container>

			<!-- name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Permission Name</th>
				<td mat-cell *matCellDef="let row">{{row.name}}</td>
			</ng-container>

			<!-- codename Column -->
			<ng-container matColumnDef="codename" >
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Code Name</th>
				<td mat-cell *matCellDef="let row">{{ row.codename }}</td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef >Action</th>
				<td mat-cell *matCellDef="let item; let i = index"><button mat-icon-button size="small" color="primary"  [routerLink]="['/organization/permission/edit',item.id ]" *ngIf='editPermission'><mat-icon>mode</mat-icon></button><button  mat-icon-button color="warn" (click)="deleteDialog(i)" *ngIf='deletePermission'><mat-icon>delete</mat-icon></button>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
		<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
	</div>
</div>


<!---When User Have No Permission Of Puchase Table -->
<ng-template class="grid-container" #noPermission>
	<mat-grid-list cols="1" rowHeight="1:1" >
		<mat-grid-tile   colspan='1' class='warning'>
			<h2 >You do not have permission to perform this action</h2>
		</mat-grid-tile>
	</mat-grid-list>
</ng-template>