<div class="grid-container" *ngIf="viewEmployeePermission; else noPermission ">
	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" >  </p></ngx-spinner>
	<div class="heading"><h2 class="head">Employees</h2>
		<div class='filter-btn'>
		<mat-form-field fxFlex="40%">
			<input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
		</mat-form-field>
		<a routerLink="/organization/employee/add" *ngIf='addEmployeePermission'>
			<button mat-raised-button color="primary">Add</button>
		</a>
	</div>
	</div>

	<div class="mat-elevation-z8">
		<table mat-table class="full-width-table" matSort aria-label="Elements">
			<ng-container matColumnDef="user_detail.username">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
				<td mat-cell *matCellDef="let row">{{row.user_detail.username}}</td>
			</ng-container>

			<!-- Role Column -->
			<ng-container matColumnDef="role">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
				<td mat-cell *matCellDef="let row">{{row.role_detail.name}}</td>
			</ng-container>

			<ng-container matColumnDef="company">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
				<td mat-cell *matCellDef="let row">{{row.company_detail.name}}</td>
			</ng-container>

			<ng-container matColumnDef="department" >
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
				<td mat-cell *matCellDef="let row">{{ row.department }}</td>
			</ng-container>

			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef >Action</th>
				<td mat-cell *matCellDef="let item; let i = index"><button mat-icon-button size="small" color="primary"  [routerLink]="['/organization/employee/edit',item.id ]" *ngIf='editEmployeePermission'><mat-icon>mode</mat-icon></button><button  mat-icon-button color="warn" (click)="deleteDialog(i)" *ngIf='deleteEmployeePermission'><mat-icon>delete</mat-icon></button>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>
		<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
		<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
	</div>
</div>


<!---When User Have No Permission Of Puchase Table -->
<ng-template class="grid-container" #noPermission>
	<mat-grid-list cols="1" rowHeight="1:1" >
		<mat-grid-tile   colspan='1' class='warning'>
			<h2 >You do not have permission to perform this action</h2>
		</mat-grid-tile>
	</mat-grid-list>
</ng-template>