.grid-container {
	margin: 20px;
	table {width: 100%;}
	button{margin: 1%;}
	.downlodaBtnImage{  height: 20px }
	.warning{
		color: red;
	}
	
}
.head{padding: 10px 10px 0;
	margin: 0 !important;}
  .heading{display: flex;}
  .filter-btn{margin-left: auto;display:flex;margin-bottom: 5px;button{margin-left:10px ;height: 40px;}}