<div class="grid-container" *ngIf="viewCat; else noPermission ">
	<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
	<div class="heading"><h2 class="head">Categories</h2>
		<div class='filter-btn'>
		<mat-form-field fxFlex="40%">
			<input matInput type="text" (keyup)="doFilter($any($event.target).value)" placeholder="Filter">
		</mat-form-field>
	<button mat-raised-button color="primary" (click)="addCategory()" *ngIf="addCat">Add </button>
	<button mat-raised-button color='primary' (click)='downloadFile("excel")'><mat-icon>description</mat-icon></button>
	<button mat-raised-button color='primary' (click)='downloadFile("pdf")'><img src="../assets/images/pdf-file.png" class ='downlodaBtnImage'></button>
	<button mat-raised-button color='primary' (click)='downloadFile("csv")'><img src="../assets/images/csv-file.png" class ='downlodaBtnImage' ></button>
	<div class='error' *ngIf='error!=null'>		
		<p>{{ error }}</p>
	</div>
	</div>
	</div>
	<div class='mat-elevation-z8'>
		<table mat-table [dataSource]="dataSource"  matSort>
			<ng-container matColumnDef="id">
				<th mat-header-cell *matHeaderCellDef  mat-sort-header>ID</th>
				<td mat-cell *matCellDef="let element"> {{element.id}} </td>
			</ng-container>
			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef  mat-sort-header> Name </th>
				<td mat-cell *matCellDef="let element"> {{element.name}} </td>
			</ng-container>
			<!-- description Column -->
			<ng-container matColumnDef="description">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> description </th>
				<td mat-cell *matCellDef="let element"> {{element.description}} </td>
			</ng-container>			
			<!-- Action Column -->
			<ng-container matColumnDef="action">
				<th mat-header-cell *matHeaderCellDef> Action </th>
				<td mat-cell *matCellDef="let element; let i = index"> <button color="primary" mat-icon-button *ngIf="editCat" (click)="editCategory(i)" ><mat-icon>edit</mat-icon></button><button mat-icon-button color="warn" (click)="deleteDialog(i)" *ngIf="deleteCat" size="medium"><mat-icon>delete</mat-icon></button> </td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>			
		</table>		
		<mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20]"></mat-paginator>
	</div>	
</div>
<!---When User Have No Permission Of Category Table -->
<ng-template class="grid-container" #noPermission>
	<mat-grid-list cols="1" rowHeight="2:1" >
		<mat-grid-tile   colspan='1' class='error'>
			<h2 >You do not have permission to perform this action</h2>
		</mat-grid-tile>
	</mat-grid-list>
</ng-template>
