.project-detail{
	margin: 20px;
	::-webkit-scrollbar {
		width: 0;  /* Remove scrollbar space */
		background: transparent;  /* Optional: just make scrollbar invisible */
	}
	.pdetailss{width: 60%;}
	.mat-card-header-text{width: 0;}
	ul.breadcrumbs {padding: 10px 16px;list-style: none;
		li {display: inline;font-size: 15px;
			a{color:#979797;text-decoration: none;}
		}
		li+li:before {padding: 8px;margin-bottom: 2%;color: #979797;content: ' \003E';;}
		span{float: right;a{color:#979797 ;}margin-right: 2%;}
	}
	.heading{
		width: 100%;
		border: unset;
		box-shadow: unset;
		background-color: transparent;
	}
	.wf{
		overflow: auto !important;
	}
	div .mat-card{
		width: 100%;
		margin-top: 3%;
		box-shadow: 1px 4px 30px rgb(0 0 0 / 0.2) !important;
		.mat-card-header{
			.mat-card-title{
				font-size: medium;
				.expand-icon{
					float: right;
					line-height: unset;
					right: 1px;
					mat-icon{
						font-size: 14px;
						margin-left: 49%;
						color: #000000b0;
					}

				}
			}
			.mat-card-subtitle{
				margin-top: 2%;
				color: inherit;
			}
			.mat-card-header-text {
				margin: 0 !important;
				width: 100%;
			}
		}
	   	.mat-card-content{
			display: flex;
			margin-top: 1%;
			span{
				a{
					font-size: 9px;
					color: gray;
					text-decoration: underline;
				}
			}
			div{
				//margin-right: 1%;
				//padding: 5%;
				text-align: center;
				width:80%;
				font-size: 10px;
				color: rgba(0,0,0,.54);
				p{
					line-height: 10px;
				}
				.mat-checkbox-background,.mat-checkbox-frame{
					border-radius: 50% !important;
					//border: 2px;
				}
			}
			.message{
				width:100%;
				
				.msg-in{
					width: 60%;
					margin: 1%;
					text-align: left;
					float: left;
					border: 1px solid gray;
					border-radius: 6px;
					padding: 1%;
					span{
						font-size: 8px;
					}
					p{
						margin-left: 1%;
					}
				}
				.msg-out{
					width: 60%;
					margin: 1%;
					float: right;
					border: 1px solid gray;
					text-align: left;
					border-radius: 6px;
					padding: 1%;
					span{
						font-size: 8px;
					}
					p{
						margin-left: 1%;
					}
				}
			}
			.task{
				width: 50%;
				text-align: left;
				.subtask-button	{
					padding-right: 5%;
    				padding-left: 1%;
					span{
						font-size: 12px;
					}
					mat-icon{
						margin-bottom: 3%;
						font-size: 18px;
						background-color: lightgray;
						width: 26%;
						margin-right: 20%;
						height: 20%;
					}
				}
				.task-list{
					max-height: 300px;
					overflow: auto;
					.mat-list{
						width:100%;	
						mat-checkbox{
							margin-right: 7%;
    						margin-top: 3%;
						}					
						.mat-checkbox-frame{
							border-radius: 30% !important;
						}	
						.mat-checkbox-inner-container-no-side-margin{
							margin-left: unset !important;
						}				
						.mat-list-item{
							border: 1px solid rgb(117, 110, 110);
							padding-left: 5%;
							width: 80%;
							margin: 10px 0;
							height: 40px;
							border-radius: 2px;
							.mat-list-item-content{
								padding: unset;
							}
						}
						.active{
							border: 1px solid blue;
							border-radius: 2px;
						}
					}
				}
				.subtask-list{
					max-height: 250px;
					overflow: auto;
					.mat-list{
						width:100%;
						.mat-list-item{
							border: 1px solid gray;
							padding-left: 5%;
							width: 80%;
							margin: 10px 0;
							height: 30px;
							border-radius: 2px;
						}
					}
				}
			}
			// .subTask{
			// 	width: 50%;
				
			// 	text-align: left;
				
			// }
		}
		.calDiv{
			display: flex;
			width: 100%;
			.calender{
				width: 40%;
				.mat-datepicker-content .mat-calendar{
				width: unset !important;
				height: 200px !important;
				}
				.date-class {
					background: #696969;
					border-radius: 100%;
				}
				.special-date {
					background-color: #3f51b5;
					border-radius: 100%;
				}
			}
			.event {
				width: 50%;
				float: right;
				padding: 2%;
				justify-content: center;
				div{
					margin-left: 40%;
					font-size: 10px;
					
					ul li div{
						//float: left;
						margin-left: 1px;
						font-size: smaller;
						color:#979797;
					}
				}
			}
		}
	}
	.side-card{
		margin-top: 2%;
		width: 40%;
		margin-left: 1%;
		.mat-card{
			box-shadow: unset !important;
			background-color: transparent !important;
			.user-img img{
				height: 30px;
				width: 30px;
				border-radius: 50%;
			}
		}
		.activity ul{
			left: 0;
			position: absolute;
			justify-content: left;
			li{
				font-size: 10px;
				span{
					color:#979797;
					font-size: 9px;
					// #border-radius: 30%;
					// #border:1px solid #979797;
				}
			}
		}
		.people{
			.mat-icon{
				border: solid 1px;
				border-color: gray;
				border-radius: 50%;
				padding-left: 3%;
				padding-top: 3%;
				padding-bottom: 9%;
				font-size: medium;
				width: 13%;
				color:gray
			}
		}
		.chat{
			.chat-box{
				box-shadow: 1px 4px 30px rgb(0 0 0 / 0.2) !important;
				height: 350px;
				
				.mat-card-content{
					min-height: 80%;
					display: block;
					// overflow: auto;
				}
				.chat-content{
					overflow:auto ;
					height: 200px;
					
				}
				
				
				.mat-card-actions{
					margin-top: -6%;
					//display: flex;
					margin-left: 2%;
					.mat-form-field-appearance-legacy .mat-form-field-underline {
					 	height: unset;
					}
					
					mat-icon{
						margin-top: 30%;
					}
					form{
						display: flex;
						.full-width{
							width: 80%;
						}
						.mat-flat-button{
							background-color: transparent;
						}
					}
				}
			}
		}
		.jobCards{
			
			box-shadow: 1px 4px 30px rgb(0 0 0 / 20%) !important;
			.jobcardList{width: 100%;}
			.jobcarditems{
				div{width: 100%!important;}
			}
		}
		
	}
}