<div class="grid-container">
	<mat-grid-list cols="1" rowHeight="2:1" >
		<mat-grid-tile   colspan='1' >
			<form [formGroup]="changePasswordForm" novalidate (ngSubmit)="onSubmit()" class='login-card' >
				<mat-card >
					<mat-card-title>
                        <h3>Change Password</h3>
						<mat-error class="matchError">{{ errors }}</mat-error>
						<span class="matchError" *ngIf='!passwordMatch'>Password Do Not Match</span>
					</mat-card-title> 
					<mat-card-content>
						<mat-card-title>
							<mat-form-field >
								<input type='password' matInput placeholder="Old Password" formControlName="oldpassword">
								<mat-error *ngIf="changePasswordForm.controls['oldpassword'].hasError('required')">
								    Old Password is <strong>required</strong>
								</mat-error>
							</mat-form-field>
						</mat-card-title>   

						<mat-card-title>
							<mat-form-field >
								<input matInput [type]="hide ? 'password' : 'text'"  placeholder="Enter New Password" formControlName="newpassword">
								
								<mat-error *ngIf='f.newpassword.errors'>
                                    <span *ngIf='f.newpassword.errors.required'>Password <strong>required</strong></span>
                                    <span *ngIf='f.newpassword.errors.minlength'>Minimum 6 digit <strong>required</strong></span>
									<span *ngIf='f.confirmpassword.errors?.maxlength'>Password must be less than <strong>20 digits.</strong></span>
								</mat-error>
                                
							</mat-form-field>
						</mat-card-title>

                        <mat-card-title>
							<mat-form-field >
								<input matInput [type]="hide ? 'password' : 'text'"  placeholder="Confirm New Password" formControlName="confirmpassword" (keyup)="passwordMatchFunction()">
								<mat-error *ngIf='f.confirmpassword.errors '>
                                    <span *ngIf='f.confirmpassword.errors?.required'>Password <strong>required</strong></span>
                                    <span *ngIf='f.confirmpassword.errors?.minlength'>Minimum 6 digit <strong>required</strong></span>
									<span *ngIf='f.confirmpassword.errors?.maxlength'>Password must be less than <strong>20 digits.</strong></span>
                                </mat-error>
                            </mat-form-field>
						</mat-card-title>
					</mat-card-content>
					<mat-card-actions>
						<button mat-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.valid || !passwordMatch">Save</button>
                        <button mat-raised-button color="primary" type="button" (click)="onCancel()" >Cancel</button>
					</mat-card-actions>
				</mat-card>
			</form>
		</mat-grid-tile>
	</mat-grid-list>
</div>
