.grid-container{
    mat-grid-tile {
        
        mat-card{
            width: 400px;
        }
        .matchError{
            font-size: small;
            color: red;
        }
    }
    
    mat-form-field{
        font-size: medium;
        width: 100%;
    }
}