.inviteList{
  .full-width-table{width: 100%;}
  .inviteHeader{
    margin-left: auto;margin-bottom: 5px;button{margin-left:10px ;}
    // .inviteFilter{
    //   .mat-grid-tile-content{justify-content:start!important;}
    // }
    // .inviteNewAdd{
    //   .mat-grid-tile-content{justify-content:flex-end!important;}
    //   button{
    //     margin-bottom: 2%;
    //   }
    }
  .buttonSubmit{background-color: #3f51b5;color: #fff;}
}
.greenPSSnackbar{background-color: #3f51b5!important;color:#fff!important;}
.redInviteAddSnackbar{background-color: red!important;color:#fff!important;}
.head{padding: 20px 10px 0;
  margin: 0 !important;}
.heading{display: flex;}