.product-container{
	margin: 20px;
	a button{
		// margin-bottom: 2%;
	}
	button{
		font-size: small;
		// margin-right: 2%;
	}
	.downlodaBtnImage{
		height: 20px
	}
	.mat-elevation-z8{
		.full-width-table {
			width: 100%;
		}
	}
}
.head{padding: 10px 10px 0;
	margin: 0 !important;}
  .heading{display: flex;}
  .filter-btn{margin-left: auto;display:flex;margin-bottom: 5px;button{margin-left:10px ;height: 40px;}}