.full-width-table {
	width: 100%;
}
.task-container{
	margin: 20px;
	ul.breadcrumbs {
		padding: 10px 16px;
		list-style: none;
		//background-color: #eee;
		li {
			display: inline;
			font-size: 15px;
			a{
				color:#979797;
					text-decoration: none;

			}
		}
		li+li:before {
			padding: 8px;
			margin-bottom: 2%;
			color: #cec9c9;
			content: ' \003E';;
		}

	}
	table{
		tr.detail-row {
			height: 0;
		}
		tr.element-row:not(.example-expanded-row):hover {
			background: whitesmoke;
		}
		tr.element-row:not(.example-expanded-row):active {
			background: #efefef;
		}
		.element-detail {
			overflow: hidden;
			display: flex;
			margin-right: -24px;
    		margin-left: -24px;
		}
		.elements{						
    		color:grey;
    		height: 48px;	
		}
		.subtask{
			color:grey;
		}
		.mat-icon{
			color:grey;
			font-size: small;
		}
		  
		  
	}
}
