.jobCardFormDiv{
    padding: 20px;
	.jobCardForm{
		.hide{display: none;}
		.mat-form-field{width: 100%;font-size: 12px;}
	}
	.checkbox{
		.mat-checkbox{padding-right: 20px;}
	}
	.breakBomItem{margin-bottom: 20px;border-top-color: rgb(63 81 181);}
	.item_jobcard{
		.mat-form-field{
			font-size: 12px;margin-right: 5px;max-width:30%;
			.mat-form-field-infix{width: 80px;}

		}
	}
	.item_embossing{
		.mat-form-field{
			font-size: 12px;margin-right: 5px;width: 10%;
			.mat-form-field-infix{width: 100px;}
		}
	}
	.mat-dialog-content{
		max-height: 35vh!important;
	}
}