<div class="card-p project-data">
    <mat-card>
        <div fxLayout="row wrap" fxLayout.lt-md="column" class="header top">
            <div fxFlex="20" class="nav-flex"><img src="../assets/images/download.jpeg" class='top-projectlogo'>
                <p>Fabrication<br><span>5/10 MT</span><span class="grn">4.5%</span></p>
            </div>
            <div fxFlex="20" class="nav-flex"><img src="../assets/images/download.jpeg" class='top-projectlogo'>
                <p>Galvanization<br><span>5/10 MT</span><span class="grn">4.5%</span></p>
            </div>
            <div fxFlex="20" class="nav-flex"><img src="../assets/images/download.jpeg" class='top-projectlogo'>
                <p>Fab + Galva<br><span>5/10 MT</span><span class="grn">4.5%</span></p>
            </div>
            <div fxFlex="20" class="nav-flex"><img src="../assets/images/download.jpeg" class='top-projectlogo'>
                <p>Solar<br><span>5/10 MT</span><span class="grn">4.5%</span></p>
            </div>
        </div>
    </mat-card>
</div>

<h1 class="card-p head"> Projects </h1>
<div fxLayout="row wrap" fxLayout.lt-md="column" class="project-data">
    <div fxFlex="20" class="card-p">
        <mat-card><img src="../assets/images/download.jpeg" class='projectcardimg'>
            <div class="projectlogodiv">
                <img src="../assets/images/download.jpeg" class='projectlogo'>
                <h4 class="title">TATA STEEL</h4>
            </div>
            <div class="header sm">
                <p>Total Unit</p>
                <p>Due Date</p>
                <p>Complete</p>
            </div>
            <div class="header">
                <p>8/10</p>
                <p>23 June</p>
                <p>80%</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="20" class="card-p">
        <mat-card><img src="../assets/images/download.jpeg" class='projectcardimg'>
            <div class="projectlogodiv">
                <img src="../assets/images/download.jpeg" class='projectlogo'>
                <h4 class="title">BAJAJ PVT LTD</h4>
            </div>
            <div class="header sm">
                <p>Total Unit</p>
                <p>Due Date</p>
                <p>Complete</p>
            </div>
            <div class="header">
                <p>8/10</p>
                <p>23 June</p>
                <p>80%</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="20" class="card-p">
        <mat-card><img src="../assets/images/download.jpeg" class='projectcardimg'>
            <div class="projectlogodiv">
                <img src="../assets/images/download.jpeg" class='projectlogo'>
                <h4 class="title">HERO PVT LTD</h4>
            </div>
            <div class="header sm">
                <p>Total Unit</p>
                <p>Due Date</p>
                <p>Complete</p>
            </div>
            <div class="header">
                <p>8/10</p>
                <p>23 June</p>
                <p>80%</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="20" class="card-p">
        <mat-card><img src="../assets/images/download.jpeg" class='projectcardimg'>
            <div class="projectlogodiv">
                <img src="../assets/images/download.jpeg" class='projectlogo'>
                <h4 class="title">BSNL</h4>
            </div>
            <div class="header sm">
                <p>Total Unit</p>
                <p>Due Date</p>
                <p>Complete</p>
            </div>
            <div class="header">
                <p>8/10</p>
                <p>23 June</p>
                <p>80%</p>
            </div>
        </mat-card>
    </div>
    <div fxFlex="20" class="card-p">
        <mat-card><img src="../assets/images/download.jpeg" class='projectcardimg'>
            <div class="projectlogodiv">
                <img src="../assets/images/download.jpeg" class='projectlogo'>
                <h4 class="title">TATA STEEL</h4>
            </div>
            <div class="header sm">
                <p>Total Unit</p>
                <p>Due Date</p>
                <p>Complete</p>
            </div>
            <div class="header">
                <p>8/10</p>
                <p>23 June</p>
                <p>80%</p>
            </div>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap" fxLayout.lt-md="column">
    <div fxFlex="50" class="card-p card-table">
        <mat-card>
            <mat-card-title>
                <h2><strong>Job Cards</strong></h2>
            </mat-card-title>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="gray">
                <div fxFlex="25" fxFlexAlign="start">Projects</div>
                <div fxFlex="25" fxFlexAlign="start">Job Cards</div>
                <div fxFlex="25" fxFlexAlign="start">Planning Weight</div>
                <div fxFlex="25" fxFlexAlign="start">Status</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">JC/158/767</div>
                <div fxFlex="25" fxFlexAlign="start">421</div>
                <div fxFlex="25" fxFlexAlign="start">verified</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">JC/158/767</div>
                <div fxFlex="25" fxFlexAlign="start">421</div>
                <div fxFlex="25" fxFlexAlign="start">verified</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">JC/158/767</div>
                <div fxFlex="25" fxFlexAlign="start">421</div>
                <div fxFlex="25" fxFlexAlign="start">verified</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">JC/158/767</div>
                <div fxFlex="25" fxFlexAlign="start">421</div>
                <div fxFlex="25" fxFlexAlign="start">verified</div>
            </div>
        </mat-card>
    </div>
    <div fxFlex="50" class="card-p card-table">
        <mat-card>
            <mat-card-title>
                <h2><strong>Purchase Order</strong></h2>
            </mat-card-title>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="gray">
                <div fxFlex="25" fxFlexAlign="start">Company</div>
                <div fxFlex="25" fxFlexAlign="start">Quantity</div>
                <div fxFlex="25" fxFlexAlign="start">Date</div>
                <div fxFlex="25" fxFlexAlign="start">Amount</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">10 MT</div>
                <div fxFlex="25" fxFlexAlign="start">20 Jun 2021</div>
                <div fxFlex="25" fxFlexAlign="start">₹45201</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">10 MT</div>
                <div fxFlex="25" fxFlexAlign="start">20 Jun 2021</div>
                <div fxFlex="25" fxFlexAlign="start">₹45201</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">10 MT</div>
                <div fxFlex="25" fxFlexAlign="start">20 Jun 2021</div>
                <div fxFlex="25" fxFlexAlign="start">₹45201</div>
            </div>
            <div fxLayout="row wrap" fxLayout.lt-md="row" class="t-data">
                <div fxFlex="25" fxFlexAlign="start">Tata</div>
                <div fxFlex="25" fxFlexAlign="start">10 MT</div>
                <div fxFlex="25" fxFlexAlign="start">20 Jun 2021</div>
                <div fxFlex="25" fxFlexAlign="start">₹45201</div>
            </div>
        </mat-card>
    </div>
</div>