.downlodaBtnImage-mv{
	margin-right: 5px;
}
.mv{
	color: black !important;
	margin-right: 5px !important;
}
.bom-container{
	margin: 20px;
	.full-width-table {
	width: 100%;
	}
	.bomHeader{
		.projectFilter{
			.mat-form-field{width: 80%;}
		}
		mat-toolbar{
			background: transparent;
		}
		.downloadButton{
			.create{
				background-color:#282828 ;
				color: whitesmoke;
				border-radius: 6px;
				font-size: small;
				margin: 0 5px;
				.mat-icon{
					font-size: large;
					padding: 4%;
				}
				img{height: 20px;width: 20px;}
				a{
					color: whitesmoke;
					text-decoration: none;
				}
			}
		}
	}
	.bomTableEdit{
		overflow: auto;
		.noEditRow{
			.mat-form-field-underline {display: none;}
		}
		.tabelEditRow{
			.mat-form-field-underline {display: block;}
		}
		.readonlyColumn{
			.mat-form-field-underline {display: none!important;}
		}
	}
}
.greenTSnackbar{background-color: #3f51b5!important;color:#fff!important;}
.redBOMSnackbar{background-color: red!important;color:#fff!important;}

