.grid-container{
	.table-content{
		// margin-top: 2%;
		.full-width-table {
			width: 100%;
			.mat-cell{
				height: fit-content;
			}
		}
	}
}
.head{padding: 10px 10px 0;
	margin: 0 !important;}
  .heading{display: flex;}
  .filter-btn{margin-left: auto;margin-bottom: 5px;button{margin-left:10px ;}}