.packaging-container{
	margin: 20px;
	.full-width-table {
	width: 100%;
	}
	.bomHeader{
		.projectFilter{
			.mat-form-field{width: 80%;}
		}
		.downloadButton{
			.create{
				background-color:#282828 ;
				color: whitesmoke;
				border-radius: 6px;
				font-size: small;
				margin: 0 5px;
				.mat-icon{
					font-size: large;
					padding: 4%;
				}
				img{height: 20px;width: 20px;}
				a{
					color: whitesmoke;
					text-decoration: none;
				}
			}
		}
	}
}

