<h3 mat-dialog-title>{{ data.title }}</h3>
<div mat-dialog-content class="myform">
	<form [formGroup]="serviceForm" novalidate (ngSubmit)="addData()">
		<mat-card-content>
			<mat-card-title>
				<mat-form-field appearance="outline">
					<mat-label>Title</mat-label> 
					<input matInput  formControlName="title">
				</mat-form-field>
			</mat-card-title>
			
			<mat-card-title *ngIf="tower == false">
				<mat-form-field appearance="outline">
					 <mat-label>Content</mat-label> 
					 <textarea matInput  formControlName="content"></textarea>
				 </mat-form-field>
			 </mat-card-title>
		</mat-card-content>

		<mat-card-actions>
			<button mat-raised-button color="primary" type="submit" [disabled]="!serviceForm.valid">Save</button>
			<button mat-raised-button color="secondary" type="button" (click)="closeDialog()" >Cancel</button>
		</mat-card-actions>
	</form>
</div>