.operationform{
    form{
		height: 100%;
		mat-error{
			font-size: small;
		}
		mat-form-field{
			width: 100%;
			font-size: small;
			input label{
				font-size: small;
			}
		}
		mat-card-actions{
			button{
				margin-bottom: 1%;
				margin-right: 2%;
			}
		}
		
	}
}